$base: #1D1616;
$crust: #1d2021;
$color00: #453D3D;
$color01: #F0EDED;
$color02: #F0EDED;
$color03: #315458;
$color04: #6E5557;
$color05: #5A5E58;
$color06: #815E37;
$color07: #637981;
$color08: #9F9898;
$color09: #E1DCDD;
$color10: #9D9A9A;
$color11: #417076;

$bg-alt: transparentize(#1D1616, 0.5);
$text: #F0EDED;
$text-dimmed: transparentize(#F0EDED, 0.4);
